<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2>Div tag,image show dif row</h2>
        <div><img src="../../static/images/DWonline.png"></div>
        <div><img src="../../static/images/DWonline.png"></div>
        <h2>span tag, image show same</h2>
        <div>
            <span><img src="../../static/images/DWonline.png"></span>
            <span><img src="../../static/images/DWonline.png"></span>
        </div>
    </body>
</html>