<html>
    <form action="/CookieSessionApp/login/" method="POST" name="form1">
        {% csrf_token %}
        {% if status == 'login' %}
        <div><a href="/CookieSessionApp/logout/">logout system</a></div>
        {% else %}
        <div>account:<input type = 'text' name="username" id="username"/></div>
        <div>password:<input type = 'password' name="password" id="password"/></div>
        <div><input type="submit" name="button" id="button" value="login"/> </div>
        {% endif %}
        <span style="color: blue;">{{message}}</span>
    </form>
</html>