<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset = utf-8">
        <title>網頁連留言板-登入管理</title>
        {% load static %}
        <link href="{% static "css/style.css" %}" rel="stylesheet" type = "text/css" />
    </head>
    <body>
        <div id = "wrap">
            <table>
                <tr>
                    <td>
                        <h1>already login</h1>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>