{% extends "myapp/base.html" %}
{% block title %}<title>show all data</title>{% endblock %}
{% block content %}
<h2 align="left">show all data
<a href="/myapp/post1/">post1</a> <a href="/myapp/post2/">post2</a></h2>
<form action="." method="POST" name="form1">
{%  csrf_token %}
<table border="1"> 
    <th>id</th>
    <th>name</th>
    <th>sex</th>
    <th>birth</th>
    <th>email</th>
    <th>phone</th>
    <th>home address</th>
    <th>edit</th>
{% for s in students %}
    <tr>
        <td>{{s.id}}</td>
        <td>{{s.Name}}</td>
        <td>{{s.Sex}}</td>
        <td>{{s.Birth}}</td>
        <td>{{s.Email}}</td>
        <td>{{s.Phone}}</td>
        <td>{{s.Home_Address}}</td>
        <td>
            <a href="/myapp/edit/{{s.id}}/" title="edit1">edit1</a>
            <a href="/myapp/edit2/{{s.id}}/load" title="edit2">edit2</a>
            <a href="/myapp/delete/{{s.id}}/" title="delete">delete</a>
        </td>
    </tr>
{% endfor %}
</table>
</form>
{% endblock %}