{% extends 'myapp/base.html' %}
{% block title %}<title> 資料表新增1 </title>
{% endblock %} 
{% block content %}
<h2>student 資料表新增1</h2>
<form action="." method ="POST" name="form1">
    {% csrf_token %}
    <table border="1" cellspacing="1" cell[adding="4"]>
        <tr>
            <th>name</th>
            <td><input type = "text" id = "Name" name = "Name"> </td>
        </tr>
        <tr>
            <th>sex</th>
            <td> 
                <input type="radio" name="Sex" id="Sex1" value="M" checked="checked" >男生
                <input type="radio" name="Sex" id="Sex2" value="F">女生
            </td>
        </tr>
        <tr>
            <th>Birth</th>
            <td><input type = "text" id = "Birth" name = "Birth"> </td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type = "text" id = "Email" name = "Email"> </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td><input type = "text" id = "Phone" name = "Phone"> </td>
        </tr>
        <tr>
            <th>Home_Address</th>
            <td><input type = "text" id = "Home_Address" name = "Home_Address"> </td>
        </tr>
        <tr>
            <th clospan="2" ;align="center"> 
                <input type= "submit" name="button" id="button" value="送出">
                <input type= "reset" name="button2" id="button2" value="重設">
            </th>
        </tr>
    </table>
    <span style="color: red;">{{message}}</span>
</form>
{% endblock %}